@use '_variables' as vr;

.searchbar-wrapper {
  width: 900px;

  margin: 120px auto;
}

.searchbar-title {
  // border: 1px solid #000;
  color: vr.$txtclr-yellow;
}
.searchbar-container {
  width: 900px;
  background: #d2b30f;
  // padding: 15px;
  margin: auto;
  // margin-top: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.searchbar-form {
  display: flex;
  justify-content: center;
  color: white;

  .searchbar {
    border: none;
    width: 100%;
    background: transparent;
    color: rgb(255, 255, 255);
    // border: 1px solid #000;
    padding: 15px 10px;
    outline: none;
    font-size: 20px;
  }

  .searchbar-submit {
    width: 60px;
    border: none;
    background: transparent;
  }
}
